/* variables */
:root {
  --color-bg:           hsl(210,75%,99%);
  --color-main-white:   hsl(210, 75%, 95%);
  --color-main-light:   hsl(210, 75%, 75%);
  --color-main:         hsl(210, 75%, 50%); /* Update alongside webmanifest file */
  --color-main-dark:    hsl(210, 75%, 30%);
  --color-main-black:   hsl(210, 75%, 10%);
  --color-accent-white: hsl(30, 75%, 95%);
  --color-accent-light: hsl(30, 75%, 75%);
  --color-accent:       hsl(30, 75%, 50%);
  --color-accent-dark:  hsl(30, 75%, 30%);
  --color-accent-black: hsl(30, 75%, 10%);

  --font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, 'Courier New', monospace;
  --font-sans: 'Roboto', 'Helvetica', sans-serif;

  --round-corners: 5px;
}
