$body$
<ul class="social-contact">
    <li>
        <article>
            <a href="$social-twitter-href$" title="$social-twitter-username$" class="special">
                <div>$partial("images/twitter.svg")$</div>
                <div>
                    <div>$social-twitter-cta$</div>
                    <div><strong>$social-twitter-username$</strong></div>
                </div>
            </a>
        </article>
    </li>
    <li>
        <article>
            <a href="$social-linkedin-href$" title="$social-linkedin-username$" class="special">
                <div>$partial("images/linkedin.svg")$</div>
                <div>
                    <div>$social-linkedin-cta$</div>
                    <div><strong>$social-linkedin-username$</strong></div>
                </div>
            </a>
        </article>
    </li>
    <li>
        <article>
            <a href="$social-github-href$" title="$social-github-username$" class="special">
                <div>$partial("images/github.svg")$</div>
                <div>
                    <div>$social-github-cta$</div>
                    <div><strong>$social-github-username$</strong></div>
                </div>
            </a>
        </article>
    </li>
    <li>
        <article>
            <a href="$social-imdb-href$" title="$social-imdb-username$" class="special">
                <div>$partial("images/imdb.svg")$</div>
                <div>
                    <div>$social-imdb-cta$</div>
                    <div><strong>$social-imdb-username$</strong></div>
                </div>
            </a>
        </article>
    </li>
    <li>
        <article>
            <a href="$social-mal-href$" title="$social-mal-username$" class="special">
                <div>$partial("images/mal.svg")$</div>
                <div>
                    <div>$social-mal-cta$</div>
                    <div><strong>$social-mal-username$</strong></div>
                </div>
            </a>
        </article>
    </li>
</ul>
